/*整体容器*/
li{
    list-style: none;
}
.container{
    width: 90%;
    position: relative;
    border:1px solid black;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #eee;
}
header,main,footer{
    width: 100%;
    position: relative;
}

/******************************头部*********************************/
/* 顶部菜单 */
.head-menu{
    width: 100%;
    height: 100px;
    position: absolute;
    top: -50px;
    transition: all 1s;
    border: 1px solid #eee;
    background: linear-gradient(#333,transparent);
    
}
.head-menu>ul{
    text-align: center;
    position: absolute;
    border: 1px solid #333;
    padding-left: 0;
}
.head-menu>ul li{
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    text-shadow: 0 0 5px #eee;
} 
.head-menu>ul li:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    font-family:  'Times New Roman';
}

/*运动的下滑线*/
.underline{
  position: absolute;
  height: 0px;
  width: 0px;
  top: 65px;
  transition: all 0.5s;
  border-radius: 5px;
  border-bottom: 5px solid #fff;
}
/*音乐播放*/
.head-player{
    width: 40px;
    height: 40px;
    background: #eee;
    border: 1px solid #aaa; 
    position: absolute;
    right: 75px;
    top: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    background: radial-gradient(#fff 30%,#aaa);
    box-shadow: 0 0 10px 2px #333;
    transition: all 0.5s;
    animation: btnRotate 6s linear infinite;
    animation-play-state: paused;
}
@keyframes btnRotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.head-player:hover{
    box-shadow: 0 0 10px 2px #fff;
}
/*音乐显示框*/
.music-input{
    width: 104px;
    height: 34px;
    position: absolute;
    right: 120px;
    top: 25px;
}
/*播放器*/
.head-audio{
    display: none;
}
.music-input input{
    width: 100px;
    height: 30px;
    margin: 2px 2px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #550;
    font-size: 14px;
    line-height: 100px;
    color: #333;
    text-align: center;
}
/*音乐列表*/
.music-list{
    width: 80px;
    height: 0px;
    position: absolute;
    right: 130px;
    top: 70px;
    z-index: 100;
    transition: all 0.5s;
    overflow: hidden;
}

.music-list>ul{
    padding-left: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.music-list>ul li{
    list-style: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #666;
    margin: 0;
  
}
.music-list>ul li a{
    white-space:nowrap;
    color: #333;
}
.music-list>ul li:hover{
    background: #500;
}
.music-list>ul li:hover a{
    color: #eee;
}

.login-info{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 25px;    
    font-size: 14px;
    width: 70px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    /* border: 1px solid black; */
}
.login-info span{
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.login-name{
    color: #ff0;
    text-shadow: 0 0 3px #FF0;
}
.login-spn{
    color: #333;
    text-shadow: 0 0 3px #eee;
}
.do-hide{
    display: none !important;
}
/*********************************登录面板*******************************/
.login-panel{
    width: 100%;;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    color: #666;
}
.login-content{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 300px;
    margin-top: -150px;
    margin-left: -250px;
    background: #fff;
    z-index: 200;
    opacity: 0;
    transition: all; 
    box-shadow: 0 0 5px 2px #333;
}
.login-content input{
    outline: none;
    border: 1px solid #aaa;
    width: 100%;
    height: 90%;
    font-size: 14px;
    text-indent: 10px;
}

.err-msg,
.username,
.password,
.login-btn{
    position: absolute;
    width: 280px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    left: 120px;
}
.login-img{
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 66px;
    left: 50%;
    margin-left: -33px;
    margin-top: -5px;
    top: 50px;
    border-radius: 50%;
    border: 2px double #fff;
    box-shadow: 0 0 5px 2px #333;
    background: #eee;
    z-index: 10;
}
.login-line{
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    display: inline-block;
    border-bottom: 2px solid #aaa;
}

.username{
    top: 120px;
}
.username input{
    box-shadow: 0 30px 10px 10px #fff inset;
}
.username span{
    position: absolute;
    right: 10px;
    top: 0px;
}
.password{
    top: 170px;
}
.password input{
    box-shadow: 0 30px 10px 10px #fff inset;
}
.password span{
    position: absolute;
    right: 10px;
    top: 0px;
}
.err-msg{
    margin-left: 5px;
    font-size: 14px;
    text-align: left;
    top:  200px;  
}
.login-btn{
    top: 240px;
}
.login-btn input{
    height: 100%;
    color: #eee;
    font-size: 16px;
    word-spacing: 5px;
    border-radius: 5px;
    border-color: #0099ff;
    text-align: center;
    background: linear-gradient(#1E90FF,#00BFFF);
    cursor: pointer;
    box-shadow: 0 0 5px #000;
}
.login-btn input:hover{
    box-shadow: 0 0 5px 2px #4169E1;
}
span.login-close{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 1px;
    top: 1px;
    color: #000;
    font-size: 14px;
    outline: none;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition:  all 0.5s;
    box-sizing: border-box;
    display: inline-block;
}

span.login-close:hover{
    transform: rotate(180deg);
}



/*********************************主体部分*****************************/
/* 主图 */
.main-Img{
    width: 100%;
    height: 600px;
    margin-top: 200px;
    opacity: 0;
    border:1px solid red;
    transition: all 1s;
    background: linear-gradient(to top,#333 50%,transparent);
}

/* 主体 */
.main-body{
    width: 100%;
    /* height: 600px; */
    border: 1px solid #0f0;
    transition: all 1s;
    opacity: 0; 
    background: linear-gradient(#0a0,transparent);
    margin-top: 200px; 
    position: relative;
}

/* 主体上部 */
.body-top{
    width: 100%;
    height: 560px;
    margin: 20px auto;
    border: 1px solid #f40;
    position: relative;
}
.body-top-lt{
    width: 45%;
    height: 100%;
    position: absolute;
    left: -300px;
    opacity: 0;
    top: 0px;
    background: #eedd00;
    transition: all 1s;
}
.body-top-gt{
    width: 45%;
    height: 100%;
    position: absolute;
    right: -300px;
    top:0px;
    background: #000;
    opacity: 0;
    transition: all 1s;
}

/* 主体中部 */
.body-middle{
    width: 100%;
    height: 600px;
    position: relative;
    border: 1px solid #eedd00;
    opacity: 0;
    transition: all 1s;
    margin-top: 200px;
    margin:20px auto;
}
.body-mid-lt{
    width: 45%;
    height: 100%;
    position: absolute;
    left: -300px;
    top: 0;
    /* opacity: 0; */
    background: #44aacc;
    transition: all 1s;
}
.body-mid-gt{
    width: 45%;
    height: 100%;
    position: absolute;
    right: -300px;
    top: 0;
    /* opacity: 0; */
    background: #44aacc;
    transition: all 1s;
}

/* 主体下部 */










/* 底部列表 */
.foot-list{
    width: 100%;
    height: 500px;
    background: linear-gradient(#000,#eee);
    margin-top: 200px;
    transition: all 1s;
    opacity: 0;
    border: 1px solid black;
}
.foot-list .foot-Img{
   width: 100%;
   height: 120px;
   margin-top: 50px;
   border: 1px solid #44aacc;
}
.foot-list .foot-Img div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #33ddbb;
    margin-left: -100px;
    opacity: 0;
    margin-top: 10px;
    transition: all 1.5s;
}


.foot-list>ul{
    text-align: center;
    width: 500px;
    margin: 100px auto;
}
.foot-list>ul li{
    margin-top: 10px;
    color: #eee;
}